/* temp styles */
/** {
    margin: 0;
    padding: 0;
}
textarea {
    outline: 0;
    line-height: 25px;
}
.warning-class {
    border-color: red;
}
.safe-class {
    border-color: blue;
}
.empty-class {

}
.warning-count-class {
    color: red;
}
.safe-count-class {
    color: blue;
}
.empty-count-class {

}

.award-lightbox-addcongratulation.disabled {
    background-color: #ccc;
    color: #999;
}

.counter {
    font-size: small;
}
*/

/* DEFAULT Styles */
.super-input textarea {
    overflow:hidden;
    /*resize: none;*/
    width: 100%;
}